html
    body
        h1='hello'
        a(href='/favors/new') New favor:
        p='this is a favor object'
        each favor in favors
            h1=favor.description
            a(href='/text') see favor