html
    include ../partials/header.html
    body
        div(class='ui items')
            div(class='ui content')
                p(class='ui header' id='favor_name')=`${favor.favor_name}`
                p(class='ui description')=`${favor.favor_description}`
        a(class='ui green basic button' href='/favors') Back to all favors
        form(action=`/favors/${favor.favor_id}?_method=DELETE` method='POST')
            button(class='ui green basic button') Delete favor