include ./partials/header.pug
form(class='ui form' action='/login' method='POST')
  div.form-group(class='field')
    label(for='username') Username:
    input(type='text' name='user_name')
  div.form-group(class='field')
    label(for='password') Password:
    input(type='password' name='user_password')
  button(type='submit' class='ui blue basic button') Login
include ./partials/footer.html