.header {
    text-align: center;
}

#favor_name {
    text-align: left;
}

div .form-group {
    margin-bottom: 8px;
}

#logo {
    width: 70px;
    height: 70px;
}

.expiry_date {
    float: right;
    font-style: italic;
}

table {
    border: 1px solid black;
    width: 100%;
}

th {
    height: 50px;
}

.ui.menu {
    border-radius: 0;
}

.ui.form {
    width: 50%;
    margin: 0 auto;
}
